#header {
font-size: 3em;
margin: 20px 10px;
display: flex;
justify-content: center;
background-color: orange;
border: 4px solid red;

}

.container {
    background-color: #5995DA;
    color: white;
    padding: 20px 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  
  h2 {
      font-size: 2.5em;
  }
  h3 {
      font-size: 1.5em;
  }
  ul {
      font-size: 1em;
  }

  #catering {
      font-size: 1.5em;
    background-color: saddlebrown;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: flex-start;
  }