#header {
font-size: 3em;
height: 80px;
margin: 2px;
display: flex;
justify-content: center;
background-color: orange;
border: 4px solid red;

}

.menu-container {
        background-color: #5995DA;
        color: white;
        font-size: 1.75em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
.menu-block {
    border: 5px solid rgb(55, 23, 194);
    color: white;
    font-size: 3em;
    background-color: sandybrown;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.meal {
    font-size: .5em;
    
}
.menu-grid {
    width: 100%;
    display: flex;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
}

.catering-container {
    font-size: 2em;
}
  #catering {
      height: 15%;
    font-size: 2em;
    background-color: saddlebrown;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #cat-cont {
      font-size: .5em;
  }